<p><?= lang('index_subheading');?></p>

<div id="infoMessage"><?= $message;?></div>

<table id="users-table" class="table dataTable" cellpadding="0" cellspacing="0">
	<thead>
		<tr>
			<th><?= lang('index_fname_th');?></th>
			<th><?= lang('index_lname_th');?></th>
			<th><?= lang('index_email_th');?></th>
			<th><?= lang('index_groups_th');?></th>
			<th><?= lang('index_status_th');?></th>
			<th><?= lang('index_action_th');?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ($users as $user):?>

			<?php $user->is_admin = false; ?>

			<tr>
	      <td><?= htmlspecialchars($user->first_name,ENT_QUOTES,'UTF-8');?></td>
	      <td><?= htmlspecialchars($user->last_name,ENT_QUOTES,'UTF-8');?></td>
	      <td><?= htmlspecialchars($user->email,ENT_QUOTES,'UTF-8');?></td>
				<td>
					<?php foreach ($user->groups as $group):?>						
						<?php if ($group->name === 'admin') { $user->is_admin = true; } ?>
						<a href="<?= '/my/user/edit_group/'.$group->id; ?>"><span class="badge badge-primary"><?= htmlspecialchars($group->name,ENT_QUOTES,'UTF-8') ;?></span></a>
	        <?php endforeach?>
				</td>
				<td>					
					<div class="btn-group btn-group-toggle">
					  <span class="hide"><?= $user->active ? 'On' : 'Off'; ?></span>
					  <a href="/my/user/activate/<?= $user->id; ?>/1" class="btn btn-sm btn-outline-primary <?= $user->is_admin ? 'disabled' : '' ;?> <?= $user->active ? 'active' : ''; ?>">
					    On
					  </a>
					  <a href="/my/user/activate/<?= $user->id; ?>/0" class="btn btn-sm btn-outline-primary <?= $user->is_admin ? 'disabled' : '' ;?> <?= !$user->active ? 'active' : ''; ?>">
					    Off
					  </a>
					</div>
				</td>
				<td><a href="<?= '/my/user/edit/'.$user->id; ?>" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a></td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>

<p>
	<a href="/my/user/new" class="btn btn-outline-primary">New User</a>
	<a href="/my/user/new_group" class="btn btn-outline-primary">New Group</a>
</p>