<div id="infoMessage">{{ message ? message : '' }}</div>

<form class="form" action="/my/component/edit/{{ component.id }}" method="POST" enctype="multipart/form-data">
  <input id="html-input" type="hidden" name="html">
  <input id="css-input" type="hidden" name="css">
  <input id="js-input" type="hidden" name="js">

  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label> <br />
      <input type="text" class="form-control" name="name" value="{{ component.name }}">

      <br>

      <label for="description">Description</label> <br />
      <textarea class="form-control" name="description" rows="4">{{ component.description }}</textarea>
    </div>

    <div class="col-md-6">
      <label for="slug">Slug</label> <br />
      <input type="text" class="form-control" name="slug" value="{{ component.slug }}" readonly>

      <br>

      <label for="usage_example">Usage Example</label> <br />
      <input type="text" class="form-control" name="usage_example" value="{{ component.usage_example }}">

      <br>

      <label for="endpoint">Data</label> <br />
      <select class="form-control" name="endpoint">
        <option value="">NULL</option>
        {% for endpoint in endpoints %}
          <option value="{{ endpoint }}" {{ (endpoint == component.endpoint) ? 'selected' : '' }}>{{ endpoint }}</option>
        {% endfor %}
      </select>

    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="editor-tab" data-toggle="tab" href="#editor" role="tab">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab">How-To</a>
    </li>
  </ul>

  <br>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="editor" role="tabpanel" aria-labelledby="editor-tab">
      
      <div class="row">
        <div class="col-md-6">
          <!-- HTML editor -->
          <p><strong>HTML</strong></p>
          <pre id="html-editor" class="code ide">{{ component.html }}</pre>

        </div>
        <div class="col-md-6">
          <!-- CSS editor -->
          <p><strong>CSS</strong></p>
          <pre id="css-editor" class="code ide half">{{ component.css }}</pre>

          <!-- JS editor -->
          <p><strong>JS</strong></p>
          <pre id="js-editor" class="code ide half">{{ component.js }}</pre>
          
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="reference" role="tabpanel" aria-labelledby="reference-tab">
      <div class="row">
        <div class="col-md-6">
          <textarea id="md-reference" class="code markdown ide" data-target="#code-reference">{{ component.guide }}</textarea>
        </div>
        <div class="col-md-6">
          <div id="code-reference" class="ide">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <a href="/my/components" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

<br>
<br>

<p>Or, if you would like to delete this component</p>

<a href="/my/component/delete/{{ component.id }}" class="btn btn-outline-danger">Delete Component</a> 