{% if not components %}
  <p>You haven't created any components yet.</p>
{% else %}
  
  <table id="components-table" class="table dataTable" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Usage</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for component in components %}
        <tr>
          <td>{{ component.name }}</td>
          <td>{{ component.description }}</td>
          <td>{{ component.usage_example }}</td>
          <td>
            <div class="btn-group btn-group-toggle">
              <span class="hide">{{ (component.active) ? 'On' : 'Off' }}</span>
              <a href="{{ '/my/component/activate/' ~ component.id ~ '/1' }}" class="btn btn-sm btn-outline-primary {{ (component.active) ? 'active' : '' }}">
                On
              </a>
              <a href="{{ '/my/component/activate/' ~ component.id ~ '/0' }}" class="btn btn-sm btn-outline-primary {{ (not component.active) ? 'active' : '' }}">
                Off
              </a>
            </div>
          </td>
          <td>
            <a href="{{ '/my/component/edit/' ~ component.id }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

<a class="btn btn-outline-primary" href="/my/component/new">New Component</a>