<div id="infoMessage">{{ message ? message : '' }}</div>

<form class="form" action="/my/component/new" method="POST" enctype="multipart/form-data">

  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label> <br />
      <input type="text" class="form-control" name="name">

      <br>

      <label for="description">Description</label> <br />
      <textarea class="form-control" name="description" rows="4"></textarea>
    </div>

    <div class="col-md-6">
      <label for="slug">Slug</label> <br />
      <input type="text" class="form-control" name="slug">

      <br>

      <label for="usage_example">Usage Example</label> <br />
      <input type="text" class="form-control" name="usage_example">

      <br>

      <label for="endpoint">Data</label> <br />
      <select class="form-control" name="endpoint">
        {% for endpoint in endpoints %}
          <option value="{{ endpoint }}">{{ endpoint }}</option>
        {% endfor %}
      </select>

    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="editor-tab" data-toggle="tab" href="#editor" role="tab">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab">How-To</a>
    </li>
  </ul>

  <br>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="editor" role="tabpanel">
      
      <div class="row">
        <div class="col-md-6">
          
          <!-- HTML editor -->
          <p><strong>HTML</strong></p>
          <pre id="html-editor" class="code ide"></pre>
          <input id="html-input" type="hidden" name="html">

        </div>
        <div class="col-md-6">
          
          <!-- CSS editor -->
          <p><strong>CSS</strong></p>
          <pre id="css-editor" class="code ide half"></pre>
          <input id="css-input" type="hidden" name="css">
          
          <!-- JS editor -->
          <p><strong>JS</strong></p>
          <pre id="js-editor" class="code ide half"></pre>
          <input id="js-input" type="hidden" name="js">

        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="reference" role="tabpanel">
      <div class="row">
        <div class="col-md-6">
          <textarea id="md-reference" class="code markdown ide" data-target="#code-reference">{{ guide|raw }}</textarea>
        </div>
        <div class="col-md-6">
          <div id="code-reference" class="ide">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <a href="/my/categories" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

