<!-- <div class="form-group">
  <a href="#generate-theme" id="generate-theme" class="btn btn-outline-success">Generate Theme</a>
</div>
<div id="theme-suggestions"></div> -->

<form action="/my/theme/update" method="POST">

<?php if ($theme_config): ?>
  <?php foreach ($theme_config as $sectionKey => $section): ?>
    <h5><?= ucwords($sectionKey); ?></h5>
    <table class="table">
      <thead>
      </thead>
      <tbody>
      <?php foreach($section as $settingkey => $setting): ?>
        <tr>
          <td><label><?= ucwords(str_replace('-',' ',$settingkey)); ?></label></td>
          <td class="text-right">
            <?php if ($setting['type'] === 'color'): ?>
              <input name="<?= $sectionKey.'['.$settingkey.']'; ?>" type="color" value="<?= $setting['value']; ?>">
            <?php elseif ($setting['type'] === 'integer'): ?>
              <input name="<?= $sectionKey.'['.$settingkey.']'; ?>" type="number" value="<?= $setting['value']; ?>">
            <?php elseif ($setting['type'] === 'range'): ?>
              <input name="<?= $sectionKey.'['.$settingkey.']'; ?>" type="range" min="1" max="10" value="<?= $setting['value']; ?>">
            <?php elseif ($setting['type'] === 'dropdown'): ?>
              <select name="<?= $sectionKey.'['.$settingkey.']'; ?>">
                <?php foreach ($setting['options'] as $opt): ?>
                  <option value="<?= $opt; ?>" <?= $opt === $setting['value'] ? 'selected' : ''; ?>><?= ucwords($opt); ?></option>
                <?php endforeach; ?>
              </select>
            <?php endif; ?>
          </td>
        </tr>
      <?php endforeach; ?>
    </tbody>
  </table>
  <?php endforeach; ?>
<?php endif; ?>

  <button class="btn btn-outline-primary" type="submit">Save</button>

</form>