<div id="infoMessage">{{ (message) ? message : '' }}</div>

<form class="form" action="/my/page/edit/{{ page.id }}" method="POST" enctype="multipart/form-data">

  <div class="row">
    <div class="col-md-6">
      <label for="name">Name</label> <br />
      <input type="text" class="form-control" name="name" value="{{ page.name }}">
    </div>

    <div class="col-md-6">
      <label for="slug">URL</label> <br />
      <input type="text" class="form-control" name="slug" value="{{ page.slug }}" readonly>
    </div>

  </div>

  <br>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="editor-tab" data-toggle="tab" href="#editor" role="tab">Editor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference" role="tab">How-To</a>
    </li>
  </ul>

  <br>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="editor" role="tabpanel">
      
      <div class="row">
        <div class="col-md-2">
          {% if components %}
            <div class="row ide">
            
              {% for component in components %}

                <div class="col-sm-12">
                    <div class="component card" data-usage="{{ component.usage_example }}" data-toggle="tooltip" data-placement="bottom" title="Click to add to page">
                      <div class="card-body">
                        <p class="card-title"><strong>{{ component.name }}</strong></p>
                        <p class="card-text"><small>{{ component.description }}</small></p>
                      </div>
                    </div>
                  </div>
                
              {% endfor %}

            </div>
          {% endif %}
        </div>
        <div class="col-md-5">
          <pre id="md-editor" class="showdown-trigger ide">{{ page.markdown }}</pre>
          <input id="md-input" type="hidden" name="markdown">
          <input id="html-input" type="hidden" name="html">
        </div>
        <div class="col-md-5">
          <div id="md-editor-preview" class="ide"></div>
        </div>
      </div>

    </div>
    <div class="tab-pane fade" id="reference" role="tabpanel">
      <div class="row">
        <div class="col-md-6">
          <pre id="md-reference-editor" class="showdown-trigger ide">{{ guide }}</pre>
        </div>
        <div class="col-md-6">
          <div id="md-reference-preview" class="ide"></div>
        </div>
      </div>
    </div>
  </div>

  <br>

  <div class="form-group">
    <a href="/my/pages" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>

<br>
<br>

<p>Or, if you would like to delete this page</p>

<a href="/my/page/delete/{{ page.id }}" class="btn btn-outline-danger">Delete Page</a> 