{% if not pages %}
  <p>You haven't created any Pages yet.</p>
{% else %}
  <table id="pages-table" class="table dataTable" cellpadding="0" cellspacing="0" data-order="[[ 2, &quot;asc&quot; ]]">
    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Order</th>
        <th>Status</th>
        <th>In Main Navigation</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for page in pages %}
        <tr>
          <td>{{ page.name }}</td>
          <td>{{ page.slug }}</td>
          <td>{{ page.order }}</td>
          <td>
            <div class="btn-group btn-group-toggle">
              <span class="hide">{{ (page.active) ? 'On' : 'Off' }}</span>
              <a href="/my/page/activate/{{ page.id }}/1" class="btn btn-sm btn-outline-primary {{ (page.active) ? 'active' : '' }}">
                On
              </a>
              <a href="/my/page/activate/{{ page.id }}/0" class="btn btn-sm btn-outline-primary {{ (not page.active) ? 'active' : '' }}">
                Off
              </a>
            </div>
          </td>
          <td>
            <div class="btn-group btn-group-toggle">
              <span class="hide">{{ (page.main_navigation) ? 'On' : 'Off' }}</span>
              <a href="/my/page/activate/{{ page.id }}/1" class="btn btn-sm btn-outline-primary {{ (page.main_navigation) ? 'active' : '' }}">
                On
              </a>
              <a href="/my/page/activate/{{ page.id }}/0" class="btn btn-sm btn-outline-primary {{ (not page.main_navigation) ? 'active' : '' }}">
                Off
              </a>
            </div>
          </td>
          <td>
            <a href="/my/page/edit/{{ page.id }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
            <a href="/{{ page.slug }}" target="_blank" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endif %}

<a class="btn btn-outline-primary" href="/my/page/edit">New Page</a>