<form class="form" method="POST">

  <p>Enter the fields below and submit to create a new item</p>

  <div id="infoMessage"><?= isset($message) ? $message : '';?></div>

  <div class="row">

    <div class="col-md-6">
      <?php foreach($settings as $setting): ?>
        <div class="form-group">
          <label for="<?= $setting->key; ?>"><?= ucwords(str_replace('-',' ', $setting->key)); ?></label> <br />
          <input id="<?= $setting->key; ?>" type="text" class="form-control" name="<?= $setting->key; ?>" value="<?= $setting->value; ?>">
        </div>
      <?php endforeach; ?>
    </div>

  </div>

  <br>

  <div class="form-group">
    <a href="/my/settings" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>