<form class="form" action="/my/item/edit/<?= $item->id; ?>" method="POST" enctype="multipart/form-data">

  <p>Modify the fields below and submit to update the item details</p>

  <div id="infoMessage"><?= isset($message) ? $message : '';?></div>

  <div class="row">

    <div class="col-md-6">
        
        <div class="form-group">
          <label for="name">Name:</label> <br />
          <input type="text" class="form-control" name="name" value="<?= $item->name; ?>">
        </div>

        <div class="form-group">
          <label for="description">Description:</label> <br />
          <textarea class="form-control" name="description"><?= $item->description; ?></textarea>
        </div>

        <div class="form-group">
           <input type="file" name="image" />
        </div>

        <div class="form-group">
          <label for="name">Phone:</label> <br />
          <input type="text" class="form-control" name="phone" value="<?= $item->phone;?>">
        </div>

        <div class="form-group">
          <label for="name">Email:</label> <br />
          <input type="text" class="form-control" name="email" value="<?= $item->email;?>">
        </div>

        <div class="form-group">
          <label for="name">Website:</label> <br />
          <input type="text" class="form-control" name="website" value="<?= $item->website;?>">
        </div>

        <div class="form-group">
          <label for="name">Address:</label> <br />
          <input type="text" class="form-control" name="address" value="<?= $item->address;?>">
        </div>

    </div>

    <div class="col-md-6">

      <p>Add the item to categories</p>
      
     <div class="card w-100">
       <ul class="list-group list-group-flush">
         <li class="list-group-item">
           
           <?php foreach($categories as $category): ?>

            <?php
              $in = array_filter(
                $item->categories,
                function ($e) use ($category) { // Loops through $item->categories
                  return $e->id === $category->id; // Returns object into $in if true
                }
              );
            ?>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="categories[]" value="<?= $category->id; ?>" id="category-<?= $category->id; ?>" <?= !empty($in) ? 'checked' : ''; ?>>
              <label class="form-check-label" for="category-<?= $category->id; ?>">
                <?= $category->name; ?>
              </label>
            </div>
          <?php endforeach; ?>

         </li>
       </ul>
     </div>

    </div>

  </div>

  <br>

  <div class="form-group">
    <a href="/my/items" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <br>
  <br>

  <p>Or, if you would like to delete this item</p>

  <a href="/my/item/delete/<?= $item->id; ?>" class="btn btn-outline-danger">Delete Item</a> 

</form>