<?php if ($items): ?>

  <p>A list of items that can be assigned to categories</p>

  <table id="items-table" class="table dataTable" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Categories</th>
        <th>Image</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($items as $item):?>
        <tr>
          <td><?= $item->name; ?></td>
          <td><?= $item->description; ?></td>
          <td>
            <?php foreach($item->categories as $category): ?>
              <span class="badge badge-light">#<?= $category->slug; ?></span>
            <?php endforeach; ?>
          </td>
          <td><img src="<?= $item->image; ?>" width="48"></td>
          <td>
            <div class="btn-group btn-group-toggle">
              <span class="hide"><?= $item->active ? 'On' : 'Off'; ?></span>
              <a href="<?= '/my/item/activate/'.$item->id.'/1'; ?>" class="btn btn-sm btn-outline-primary <?= $item->active ? 'active' : ''; ?>">On</a>
              <a href="<?= '/my/item/activate/'.$item->id.'/0'; ?>" class="btn btn-sm btn-outline-primary <?= !$item->active ? 'active' : ''; ?>">Off</a>
            </div>
          </td>
          <td>
            <a href="<?= '/my/item/edit/'.$item->id; ?>" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      <?php endforeach;?>
    </tbody>
  </table>

<?php else: ?>
  <p>No items</p> 
<?php endif; ?>

<p>
  <a href="/my/item/new" class="btn btn-outline-primary">New Item</a>
</p>