<form class="form" action="/my/item/new" method="POST" enctype="multipart/form-data">

  <p>Enter the fields below and submit to create a new item</p>

  <div id="infoMessage"><?= isset($message) ? $message : '';?></div>

  <div class="row">

    <div class="col-md-6">
        
        <div class="form-group">
          <label for="name">Name:</label> <br />
          <input type="text" class="form-control" name="name">
        </div>

        <div class="form-group">
          <label for="description">Description:</label> <br />
          <textarea class="form-control" name="description"></textarea>
        </div>

        <div class="form-group">
           <input type="file" name="image" />
        </div>

        <div class="form-group">
          <label for="name">Phone:</label> <br />
          <input type="text" class="form-control" name="phone">
        </div>

        <div class="form-group">
          <label for="name">Email:</label> <br />
          <input type="text" class="form-control" name="email">
        </div>

        <div class="form-group">
          <label for="name">Website:</label> <br />
          <input type="text" class="form-control" name="website">
        </div>

        <div class="form-group">
          <label for="name">Address:</label> <br />
          <input type="text" class="form-control" name="address">
        </div>

    </div>

    <div class="col-md-6">

      <p>Add the item to categories</p>
      
     <div class="card w-100">
       <ul class="list-group list-group-flush">
         <li class="list-group-item">
           
           <?php foreach($categories as $category): ?>

            <div class="form-check">
              <input id="category-<?= $category->id; ?>" class="form-check-input" type="checkbox" value="<?= $category->id; ?>">
              <label for="category-<?= $category->id; ?>" class="form-check-label">
                <?= $category->name; ?>
              </label>
            </div>
          <?php endforeach; ?>

         </li>
       </ul>
     </div>

    </div>

  </div>

  <br>

  <div class="form-group">
    <a href="/my/items" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>