body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  .feather {
    margin-right: 4px;
    color: #999;
  }
  &.active {
    color: #007bff;
  }
  &:hover .feather, &.active .feather {
    color: inherit;
  }
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  &:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
  }
}

/*
 * Utilities
 */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

/*
 * Datatable
 */

.dataTables_wrapper {
  margin-bottom: 20px;
}

/*
 * Miscellaneous
 */

#user-dropdown {
 position:absolute;
 border-radius:0;
 margin-top:4px;
 left: auto;
 right: 0;
}

.ide {
  width: 100%;
  height: 600px;
  overflow-y: scroll;

  &.half {
    height: 300px;
  }
}

.component {
  cursor: pointer;
}


/*
 * Bootstrap admin override
 */

 #auth-template {
  .navbar-nav {
    display: block;
    flex-direction: inherit; // cannot use `inherit` to get the `.navbar`s value

    .nav-item {
     float: right;
     display:inline-block;
    }
  } 
 }
 

 // Needed a bigger modal than modal-lg
 .modal-xl {
  max-width: 1400px;
 }

/*
 * Filemanager styles
 */

 .fm-container {
   background-color: #343a40 !important;

   .fm-fileinfo {
     background: #ffffff !important;
   }
 }  


 