/*
* Simple transition mixins
*/

@mixin add-transition() {
  -o-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

@mixin add-transition-by-time($duration, $delay) {
  -o-transition: all $duration ease $delay;
  -moz-transition: all $duration ease $delay;
  -ms-transition: all $duration ease $delay;
  -webkit-transition: all $duration ease $delay;
  transition: all $duration ease $delay;
}