<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <!-- <link rel="stylesheet" type="text/css" href="/bower_components/rich-filemanager/styles/reset.css" /> -->
        <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/datatables/media/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="/bower_components/rich-filemanager/styles/filemanager.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/rich-filemanager/scripts/jquery.contextmenu/dist/jquery.contextMenu.min.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/rich-filemanager/scripts/custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" />
        <link rel="stylesheet" type="text/css" href="/bower_components/rich-filemanager/scripts/alertify.js/dist/css/alertify.css">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>
 
    <body id="auth-template">

        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
          <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
            {% if settings['logo-path'] %}
              <img src="{{ settings['logo-path'] }}" width="18" height="24" />
            {% else %}
              PCS
            {% endif %}
          </a>
          <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
            <ul class="navbar-nav col-sm-9 col-md-10">
              <li class="nav-item text-nowrap">
                <div class="dropdown" style="position: relative">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/my/settings"><div class="rounded-circle"></div> {{ user.first_name|capitalize ~ ' ' ~ user.last_name|capitalize }}</a>
                  <div id="user-dropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/my/settings">Settings</a>
                    <a class="dropdown-item" href="/my/logout">Logout</a>
                  </div>
                </div>
              </li>
              <li class="nav-item text-nowrap mr-4">
                  <a class="nav-link" href="/my/inbox"><i class="fa fa-fw fa-inbox"></i></a>
              </li>
            </ul>
        </nav>

        <div class="container-fluid">

          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === '' ? 'active' : ''; ?>" href="/my"><i class="fa fa-fw fa-home"></i> Home</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'pages' ? 'active' : ''; ?>" href="/my/pages"><i class="fa fa-fw fa-file-code"></i> Pages</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'components' ? 'active' : ''; ?>" href="/my/components"><i class="fa fa-fw fa-puzzle-piece"></i> Components</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'files' ? 'active' : ''; ?>" href="/my/files"><i class="fa fa-fw fa-archive"></i> Files</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'users' ? 'active' : ''; ?>" href="/my/users"><i class="fa fa-fw fa-users"></i> Users</a></li>
                
                <li><hr></li>

                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'categories' ? 'active' : ''; ?>" href="/my/categories"><i class="fa fa-fw fa-object-group"></i> Categories</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'items' ? 'active' : ''; ?>" href="/my/items"><i class="fa fa-fw fa-list"></i> Items</a></li>

                <li><hr></li>

                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'theme' ? 'active' : ''; ?>" href="/my/theme"><i class="fa fa-fw fa-paint-brush"></i> Theme</a></li>
                <li class="nav-item"><a class="nav-link <?= $navActiveItem === 'settings' ? 'active' : ''; ?>" href="/my/settings"><i class="fa fa-fw fa-cog"></i> Settings</a></li>
              </ul>
              <!-- <ul class="nav flex-column" style="position:absolute;bottom:0"></ul> -->
            </div>
          </nav>

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1 class="h2">{{ title }}</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                  <a class="btn btn-sm btn-outline-secondary" href="/" target="_blank">Preview Site</a>
                </div>
              </div>
            </div>

            <div class="wrapper">
              {{ include(template_from_string(body)) }}
            </div>

          </main>

        </div>

    </body>

    <script src="/bower_components/rich-filemanager/scripts/jquery-1.11.3.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery-browser.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/knockout-3.4.0.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery-mousewheel/jquery.mousewheel.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery.splitter/dist/jquery-splitter.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery.contextmenu/dist/jquery.contextMenu.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/alertify.js/dist/js/alertify.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/clipboard.js/dist/clipboard.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/jquery.fileDownload/jquery.fileDownload.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/javascript-templates/js/tmpl.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/toast/lib/toast.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/cldrjs/cldr.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/cldrjs/cldr/event.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/cldrjs/cldr/supplemental.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/globalizejs/globalize.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/globalizejs/globalize/number.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/globalizejs/globalize/date.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/purl/purl.min.js"></script>
    <script src="/bower_components/rich-filemanager/scripts/filemanager.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables/media/js/dataTables.bootstrap4.min.js"></script>
    <script src="/bower_components/ace-builds/src-min/ace.js"></script>
    <script src="/bower_components/showdown/dist/showdown.min.js"></script>

    <script src="/assets/js/admin.js"></script>

</html>