<!DOCTYPE html>
<html>
  <head>
      <title>{{ title }}</title>

      <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

      {{ styles|raw }}

      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-info">

      <div class="container">

        <a href="/">
          {% if settings['logo-path'] %}
            <img src="{{ settings['logo-path'] }}" width="36" />
          {% else %}
            PCS
          {% endif %}
        </a>

        {% if user %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav ml-auto">
              {% if pages %}
                {% for page in pages %}
                  {% if page.main_navigation %}
                    <li class="nav-item">
                      <a class="nav-link {{ (page.slug == 'contact') ? 'btn btn-block btn-warning' : '' }}" href="/{{ page.slug }}">{{ page.name }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                <li class="nav-item"><a class="nav-link" href="/logout"> <i class="fa fa-sign-out-alt"></i></a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}

      </div>

    </nav>

    <div class="container">

      {{ include(template_from_string(body)) }}

    </div>

  </body>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  {{ scripts|raw }}

</html>