<?php
  $navActiveItem = $this->uri->segment(1);
?>

<!DOCTYPE html>
<html>
  <head>
      <title><?= $title; ?></title>

      <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">

      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="container">

        <a class="navbar-brand" href="#">PCS</a>

        <?php if($this->ion_auth->logged_in()): ?>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Items</a>
              </li>
              <?php if($pages): ?>
                <?php foreach($pages as $page): ?>
                  <li class="nav-item">
                    <a class="nav-link" href="<?= $page->slug; ?>"><?= $page->name; ?></a>
                  </li>
                <?php endforeach; ?>
              <?php endif; ?>
            </ul>
          </div>
        <?php endif; ?>

      </div>

    </nav>

    <div class="container">

      {{ include(template_from_string(body)) }}

    </div>

  </body>

</html>