<!DOCTYPE html>
<html>
 
    <head>
        <title><?php echo $title; ?></title>
    </head>
 
    <body>
     
        <h1>Welcome template</h1>
         
        <div class="wrapper">
             
            <?php echo $body; ?>
             
        </div>
         
    </body>
     
</html>