<p>Modify the fields below and submit to update the category details</p>

<div id="infoMessage"><?= isset($message) ? $message : '';?></div>

<form class="form col-md-6" action="/my/category/edit/<?= $category->id; ?>" method="POST" enctype="multipart/form-data">
  
  <div class="form-group">
    <label for="name">Name:</label> <br />
    <input type="text" class="form-control" name="name" value="<?= $category->name; ?>">
  </div>

  <div class="form-group">
    <label for="description">Description:</label> <br />
    <textarea class="form-control" name="description"><?= $category->description; ?></textarea>
  </div>

 <div class="form-group">
    <input type="file" name="image" />
 </div>

  <br>
  <br>

  <div class="form-group">
    <a href="/my/category" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  <br>
  <br>

  <p>Or, if you would like to delete this category</p>

  <a href="/my/category/delete/<?= $category->id; ?>" class="btn btn-outline-danger">Delete Category</a> 


</form>