<p>A list of categories</p>

<!-- <div id="infoMessage"><?= $message;?></div> -->

<?php if ($categories): ?>

  <table id="categories-table" class="table dataTable" cellpadding="0" cellspacing="0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <?php foreach ($categories as $category):?>
        <tr>
          <td><?= htmlspecialchars($category->name,ENT_QUOTES,'UTF-8');?></td>
          <td><?= htmlspecialchars($category->description,ENT_QUOTES,'UTF-8');?></td>
          <td><img src="<?= $category->image; ?>" width="48"></td>
          <td>
            <div class="btn-group btn-group-toggle">
              <span class="hide"><?= $category->active ? 'On' : 'Off'; ?></span>
              <a href="<?= '/my/category/activate/'.$category->id.'/1'; ?>" class="btn btn-sm btn-outline-primary <?= $category->active ? 'active' : ''; ?>">
                On
              </a>
              <a href="<?= '/my/category/activate/'.$category->id.'/0'; ?>" class="btn btn-sm btn-outline-primary <?= !$category->active ? 'active' : ''; ?>">
                Off
              </a>
            </div>
          </td>
          <td>
            <a href="<?= '/my/category/edit/'.$category->id; ?>" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
          </td>
        </tr>
      <?php endforeach;?>
    </tbody>
  </table>

<?php else: ?>

  <p>No categories</p> 

<?php endif; ?>

<p>
  <a href="/my/category/new" class="btn btn-outline-primary">New Category</a>
</p>