<p>Fill in the fields below and submit to create a new category</p>

<div id="infoMessage"><?= isset($message) ? $message : '';?></div>

<form class="form col-md-6" action="/my/category/new" method="POST" enctype="multipart/form-data">
  
  <div class="form-group">
    <label for="name">Name:</label> <br />
    <input type="text" class="form-control" name="name">
  </div>

  <div class="form-group">
    <label for="description">Description:</label> <br />
    <textarea class="form-control" name="description"></textarea>
  </div>

  <div class="form-group">
     <input type="file" name="image" />
  </div>

  <br>

  <div class="form-group">
    <a href="/my/categories" class="btn btn-outline-warning">Back</a> 
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>

</form>